body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.content {
    width: 100%;
    height: 100%;
    background-image: url('../../images/LED_display/background.png'); 
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
