body {
    background-color: #00065f;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

header {
    position: relative;
    text-align: center;
    padding: 10px;
    max-height: 100px;
    margin-top: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}

header img{
    max-height: 100px;
    width: auto;
    padding-left: 50px;
    padding-right: 50px;
}

#sphere-container, #sphere-container-2 {
    width: 10vw;
    height: 10vw; 
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
}

#pdfcontainer{
    display: flex; /* Use flexbox to center content */
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    margin: auto; /* Center the div itself if needed */
    height: 87vh;
    margin-top:0px;
}

iframe {
    width: 70vw;
    height: 90%;
    border: 10px solid #fc3d21;
    border-radius: 10px;
}

/* This is good below this line. */
#star-container {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0;
    left: 0;
    z-index: -1; /* Ensure stars are in the background */
}

.star {
    position: absolute;
    width: 20px; /* Adjust to the size of your image */
    height: 20px;
    background: url('../../../images/NASA/star.png') no-repeat center center;
    background-size: cover;
    opacity: 0;
}